/* resetear body*/
body{
    margin:0;
    padding: 0;
}

.ficha{
    transition: transform 0.3s;
    

}
.ficha:hover{
    transform: translateY(-10px);

}
a:hover{
    text-decoration: none;
}
p, small{
    color:black;
}
.imgError{
    max-width: 10rem;
    position: relative;
}
.imgArticle{
    border-radius:.5rem;
    box-shadow: 7px 7px 19px #5d5d5d59;
}
 